{% extends 'base/layout.html' %}

{% block content %}
<div class="container">
    <h1>{{ data.title }}</h1>
    <div>
        작성자 : {{ data.author }}
    </div>
    <div>
        생성일 : {{ data.created_date }}
    </div>
    <div>
        수정일 : {{ data.published_date }}
    </div>
    <br>
    <p>
        {{ data.content }}<br>

        {% if data.files %}
          <img src="{{ data.files.url }}" width="300"/>
        {% endif %}
    </p>
    <p>
      {% load disqus_tags %}
      {% disqus_show_comments %}
    <p/>
</div>
{% endblock %}
